@model string
@{
    ViewData["Title"] = "Aniversariantes";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<script src="~/js/Colaborador/aniversariantes.js"></script>
<input type="hidden" id="hdnToken" value="@Model" />
<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <h2 class="title">Aniversariantes</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bg-curve">
        <img src="~/img/bg-img/aniverssario.png" alt="">
    </div>
</div>
<section class="uza-why-choose-us-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-12">
                <div class="choose-us-content mb-80">
                    <div id='wrap'>
                        <div id='calendar'></div>
                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/Colaborador/Calendario.js"></script>