
@{
    ViewData["Title"] = "Manuais";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <h2 class="title">Manuais</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Consórcio Processamento & Tecnologia</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bg-curve">
        <img src="~/img/core-img/curve-1.png" alt="">
    </div>
</div>
<section class="uza-services-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <div class="service-icon">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <a href="#"><h5>Código de Ética</h5></a> 
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <div class="service-icon">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <a href="#"><h5>Manual Do Sistema Folha de Ponto</h5></a>
                </div>
            </div>
        </div>
    </div>
</section>