
@{
    ViewData["Title"] = "Ouvidoria";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<div class="container">
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Ouvidoria</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">Para registrar sua manifestação (reclamação, denúncia, observação, elogio e outros).</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-bg-curve">
            <img src="~/img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-12 col-lg-12">
            <div class="uza-contact-form mb-80">
                <div class="contact-heading mb-50">
                    <p>
                        As denúncias deste formulário serão analisadas de forma sigilosa e confidencial. Estas poderão ser feitas de modo anônimo, sendo neste caso, de mais difícil apuração. No entanto, cada relato será analisado individualmente, a fim de propiciar o devido encaminhamento. A revelação do anonimato poderá ser solicitada durante as investigações e, mesmo neste caso, o anonimato será mantido.
                    </p>
                </div>
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">
                                      1 - Você quer se manter anônimo? (opte pela sua identificação sempre que entender que a empresa pode lhe dar o retorno pessoalmente.
                                        Isso facilitará a resposta ao seu pedido e/ou denúncia). Caso queira se identificar, escreva no campo "outro" seu contato.
                                    </label>
                                    <input type="text" class="form-control mb-30" name="x" placeholder="Caso queira se identificar, escreva no campo seu contato.">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">2 - Qual o local onde ocorreu o fato descrito? (Cidade/UF/Local especifico - Ex: dentro da empresa "X")</label>
                                <textarea class="form-control mb-30" name="message" rows="8" cols="80" placeholder="local onde ocorreu o fato descrito"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>3 - Descreva aqui sua dúvida e/ou denuncia. As informações inseridas no texto abaixo, deverão dar aos analistas a possibilidade de
                                verificar a veracidade dos fatos, tomando as medidas cabíveis de acordo com o informado.</label>
                                <textarea class="form-control mb-30" name="message" rows="8" cols="80" placeholder="Descreva aqui sua dúvida e/ou denuncia"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>4 - Em qual data ocorreu o fato? Coloque a data o mais precisamente possível.</label>
                                <input type="date" class="form-control mb-30" name="x" placeholder="Qual o local do atendimento?">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>5 - Esta data é?</label><br />
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Exata</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Aproximadamente</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn uza-btn btn-3 mt-15">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



