
@{
    ViewData["Title"] = "SolicitacaoTI";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<div class="container">
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Solicitação de TI</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-bg-curve">
            <img src="~/img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-12 col-lg-12">
            <div class="uza-contact-form mb-80">
                <div class="contact-heading mb-50">
                    <p>
                        Esse formulário é para solicitar demandas para a equipe de supervisão de TI, <br>
                        que presta atendimento aos colaboradores do Consórcio CPT, que atuam no DNIT.
                    </p>
                </div>



























                <form action="#" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">1 - Descreva abaixo a solicitação.</label>
                                    <textarea class="form-control mb-30" name="message" rows="8" cols="80" placeholder="Descreva abaixo a solicitação."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">2 - Endereço de Email</label>
                                <input type="email" class="form-control mb-30" name="email" placeholder="Endereço de Email">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>3 - Contato(DDD+Telefone)</label>
                                <input type="text" class="form-control mb-30" name="full-name" placeholder="Contato(DDD+Telefone)">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>4 - Qual o local do atendimento?</label>
                                <input type="text" class="form-control mb-30" name="x" placeholder="Qual o local do atendimento?">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">5 - Qual tipo de Solicitação:</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Extração de relatórios de banco de dados</option>
                                    <option>Alteração em sistema</option>
                                    <option>Instalação de equipamentos</option>
                                    <option>Instalação de software</option>
                                    <option>Movimentação de equipamentos</option>
                                    <option>Problemas no sistema SIOR</option>
                                    <option>Reset de senha do E-mail do consórcio</option>
                                    <option>Criação de E-mail do Consórcio CPT</option>
                                    <option>Manutenção de impressora do consórcio</option>
                                    <option>Dúvidas</option>
                                    <option>Outros </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>6 - Descreva sua necessidade:</label>
                                <textarea class="form-control mb-30" name="message" rows="8" cols="80" placeholder="Descreva sua necessidade:"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>7 - Qual a data limite esperada para o atendimento:</label>
                                <input type="date" class="form-control mb-30" name="email" placeholder="Qual a data limite esperada para o atendimento:">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>8 - Observação:</label>
                                <textarea class="form-control mb-30" name="message" rows="8" cols="80" placeholder="Observação:"></textarea>
                            </div>
                        </div>
                        <p>Será enviada uma cópia das suas respostas por email para o endereço que forneceu.</p>
                        <div class="col-12">
                            <button class="btn uza-btn btn-3 mt-15">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

