
@{
    ViewData["Title"] = "SolicitacaoTI";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="container">
                <div class="breadcrumb-bg-curve">
                    <img src="~/img/core-img/curve-1.png" alt="">
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Solicitações para a TI</h2>
                            <p>Formulário para contato rápido e prático com a equipe de TI</p>
                        </div>
                    </div>
                </div>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZjC6GwFzQmbHUXJsMcWVytcZiJyCane_CZaSNowkGY7p91Q/viewform?embedded=true" width="1180" height="1540" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
            </div>
        </div>
    </div>
</div>

