@{
    ViewData["Title"] = "_LayoutColaborador";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Intranet - Consórcio CPT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="editor.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="~/css/Colaborador/aniversariantes.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $("#txtEditor").Editor();
        });
    </script>

    <style>
        .footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%;
            min-height: 200px;
        }
    </style>
</head>
<body>
    <div class="main-header-area fixed-top shadow-sm p-3 mb-5 bg-white rounded" style="background-color: #fff;">
        <div class="classy-nav-container breakpoint-off">
            <nav class="classy-navbar justify-content-between" id="uzaNav">
                <a class="nav-brand" href="#"><img src="~/img/bg-img/logo_quadrado.png" alt="" width="45">Intranet CPT</a>
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <div class="classy-menu">
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <div class="classynav">
                        <ul id="nav">
                            <li class="current-item"><a asp-area="" asp-controller="Colaborador" asp-action="Principal">Principal</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="Manuais">Manuais</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="Ramais">Ramais</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="SolicitacaoTI">Solicitação de TI</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="Treinamentos">Treinamentos</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="Avisos">Avisos</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="Noticias">Notícias</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="Ouvidoria">Ouvidoria</a></li>
                            <li><a asp-area="" asp-controller="Colaborador" asp-action="Aniversariantes">Aniversariantes</a></li>
                        </ul>
                        <div class="dropdown">
                            <button class="btn uza-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gerenciar Intranet
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a asp-area="" asp-controller="Admin" asp-action="GerenciarConteudo" class="dropdown-item">Gerenciar Conteúdo</a>
                                <a asp-area="" asp-controller="Admin" asp-action="GerenciarManuais" class="dropdown-item">Gerenciar Manuais</a>
                                <a asp-area="" asp-controller="Admin" asp-action="GerenciarRamais" class="dropdown-item">Gerenciar Ramais</a>
                                <a asp-area="" asp-controller="Admin" asp-action="GerenciarRamais" class="dropdown-item">Gerenciar CPTresponde</a>
                            </div>
                        </div>
                        <div class="get-a-quote ml-4 mr-3">
                            <button type="button" class="btn uza-btn" data-toggle="modal" data-target="#exampleModal" data-whatever="mdo">Sair</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="container-fluid text-center">
        <p>Intranet - Consórcio CPT</p>
    </footer>
</body>
</html>

